a {
  text-decoration: none;
  color: white;
  /* <- its affecting contactus a color too */
}

nav a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  padding: 0px 20px;
  z-index: 1000;
  transition: background-color 500ms ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#nav-bar {
  margin: 0;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  /* padding-top: 20px; */
}

nav a {
  font-size: 15px;
  text-decoration: none;
  /* margin: 0 16px; */
}

nav a#logo {
  color: #000000;
  font-weight: 500;
}

nav ul a {
  /* color: #d9ff00; */
  font-weight: 600;
  text-decoration: none;
}

nav ul a:hover {
  /* border-bottom: 2px solid #e1ef1c; */
}

section#home {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* h1 {
  font-size: 4rem;
} */
#ham-menu {
  display: none;
}

nav ul.active {
  /* right: 0; */
  top: 100vh;
  /* top: calc(100vh - 300px); */
  top: 55px;
  top: 0;
  height: 300px;
}

.logo-text {
  margin-left: 7px;
}
.bar-inside{
  /* width: 98vw; */
  position: absolute;
  right: 20px;
  z-index: 90000;
  /* display: flex; */
  /* flex-direction: ; */
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }

  header {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 767px) {

  /* html {
    font-size: 50%;
  } */
  #ham-menu {
    display: block;
    color: white;
  }

  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }

  nav ul {
    background-color: black;
    position: fixed;
    /* right: -100vw; */
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 273.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
    /* top: calc(100vh - 55.18px); */
    height: 355px;
    /* width: 165px; */
    right: 0;
    /* top: 100vh; */
    top: -355px;
  }
}
.black-bar{
  display: none;
}
@media only screen and (max-width: 575px) {
  nav a {
    color: white;
  }

  header {
    padding: 0px 20px;
  }

  nav ul {
    top: calc(100vh - 300px);
    height: 355px;
    /* width: 165px; */
    top: -355px;

  }
}