@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Currently it is not in use */
.animation-YEC {
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

/* Currently it is not in use */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
}

/* Currently it is not in use */
.nav-item {
    margin: auto 3vw;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* Top navigation bar */
.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

/* Navbar font-size */
.navbar-brand div {
    font-size: 10px;
}

.navbar-brand img {
    transform: scale(1);
    margin-top: 10px;
}

.nav-item a {
    color: black;
}


/* Top container just after opening the main page */
.container-1 {
    background-color: #ffe32b;
    height: 100vh;
    background-image: url(images/YEC.png);
    background-position: left;
    background-position-x: 0px;
    background-size: cover;
    animation: infinite_scroll 70s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

/* Amination for infinetly showing YEC in motion */
@keyframes infinite_scroll {
    from {
        background-position-x: 0vw;
    }

    to {
        background-position-x: -2002vh;
    }
}

/* Words YEC in opening page (infinite animation) */
.YEC {
    height: 65%;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: #000000;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
}

/* Words Ideate Innovate Incubate in opening page (infinite animation) */
.ideate {
    height: 65%;
    padding: 0 auto;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: #000000;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
}

/* Moving the YEC and Ideate animation to leftmost */
.rightYEC{
    height: 65%;
    padding: 0 auto;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    color: #000000;
    flex-direction: column;
    font-family: 'Libre Franklin', sans-serif;
}

@media screen and (max-width:900px) {
    .YEC {
        font-size: 26px;
        margin-left: 5px;
        line-height: 42px;
        height: 61%;
    }

    .ideate{
        font-size: 26px;
        line-height: 42px;
        height: 61%;
    }
    
    .rightYEC{
        display: none;
    }

    .YEC span {
        font-size: 17px;
    }

    .container-1>a {
        margin-left: 1vh;
        margin-bottom: 20px;
    }

    .container-1-inner>a {
        margin-left: 1vh;
    }

}

/* Container explaining YEC and it's vision */
.container-3 {
    background-color: #ffffff;
    background: url(images/upstart\ \(2\).png);
    backdrop-filter: opacity(20%);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 10vw;
    position: relative;
    font-family: 'Poppins', sans-serif;
    z-index: 20;
}

/* Currently not in use */
.symbols {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 80vw;
}

/* Currently not in use */
.symbols2 {
    position: absolute;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: url(./images/questionMark.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.about {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.about>div>h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    border-bottom: 4px solid yellow;
    text-align: left;
}


@media screen and (max-width:500px) {
    .about {
        width: 100%;
    }

    .about>div>h1 {
        font-size: 26px;
    }

    .about>div>p {
        font-size: 17px;
        padding: 15px 0;
        text-align: justify;
    }
}

.about>div>p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timeline-1 {
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    min-height: 200vh;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
}

.timeline-1 h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.timeline-1 img {
    padding: 0px 15vw;
    padding-top: 0px;

}

@media screen and (max-width:900px) {
    .timeline-1 img {
        padding: 0 10px;
    }
}

.incentives {
    height: 100%;
    background-color: black;

}

.incentives h1 {
    text-align: center;
    font-weight: 700px;
    color: white;
    
}

.incentives h1:nth-child(1) {
    font-size: 64px;
}

.incentives h1:nth-child(2) {
    font-size: 30px;
}

.incentives h1:nth-child(3) {
    font-size: 30px;
}

.incentives-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: start;
    width: 100%;
    height: 100%;
    padding: 0 100px;
    font-family: 'Inknut Antiqua', serif;
}

.incentives-box {
    width: 279px;
    height: 237px;
    background: #F1F3F2;
    border-radius: 13px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}
.incentives-box:hover {
    transform:translateY(-10px);
    opacity:0.9;
}

@media screen and (max-width:630px) {
    .incentives-boxes {
        padding: 0 10px;
    }

    .incentives-box {
        margin: 20px;
        font-size: 15px;
    }

    .incentives h1:nth-child(1) {
        font-size: 40px;
    }

    .incentives h1:nth-child(2) {
        font-size: 25px;
    }
}


.incentives-box img {
    width: 92px;
    margin: 10px;
    padding: 10px;
    
}

.incentives-box div {
    color: black;
    padding: 15px;
    text-align: center;
}

.termsNConditions {
    color: black;
    min-height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.termsNConditions-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.termsNConditions img {
    width: 30%;
}

.termsNConditions>div>h1 {
    text-align: center;
    font-size: 64px;
}

.termsNConditions ul {
    font-family: 'Dosis', sans-serif;
    font-size: 27px;
    line-height: 38px;
    width: 60%;
}


@media screen and (max-width:920px) {
    .termsNConditions-box {
        flex-direction: column;
    }

    .termsNConditions>div>img {
        width: 80%;
    }

    .termsNConditions ul {
        width: 95%;
    }
}

@media screen and (max-width:500px) {
    .termsNConditions>div>h1 {
        font-size: 26px;
    }

    .termsNConditions ul {
        font-size: 17px;
        padding: 10px 8vw;
        line-height: 27px;
        text-align: justify;
    }
}

.accordion {
    width: 60%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 2rem;
    box-shadow: -4px 3px 0 #ffe32b, -4px -3px 0 #ffe32b, 2px 0px 0 3px #ffe32b;
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 3rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.judging {
    background-color: white;
    color: black;
    min-height: 80vh;
}

.judging-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.judging-box img {
    width: 30%;
}

.judging h1 {
    text-align: center;
    font-size: 64px;
}

.judging span {
    font-size: 30px;
}



.rules {
    background-color: black;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rules h1 {
    font-size: 64px;
    text-align: center;
    color: white;
}

.rules-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.rules-box img {
    width: 30%;
}

.rules-box ul {
    font-family: 'Dosis', sans-serif;
    width: 60%;
    font-size: 27px;
    color: white;
    margin: 0;
}
.rules-box ul li{
    padding: 10 0px;
}
@media screen and (max-width:900px) {
    .rules-box {
        flex-direction: column-reverse;
    }

    .rules-box img {
        width: 80%
    }

    .rules-box ul {
        width: 95%;
    }

    .judging{
        min-height: 60vh;
    }

    .judging-box {
        flex-direction: column;
    }

    .judging-box img {
        display: none;
    }

    .accordion {
        width: 95%;
        font-size: 13px;
    }
    .accordion-item-body-content{
        font-size: 10px;
        font-weight: bold;
    }
    
}

@media screen and (max-width:500px) {
    .rules h1 {
        font-size: 26px;
    }

    .rules ul {
        padding: 10px 10vw;
        font-size: 17px;
        text-align: justify;
    }

    .judging h1 {
        font-size: 26px;
    }
}


.follow-us a {
    color: white;
}

.contact-us{
    min-height: 70vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.contact-us h1{
    color: white;
    font-size: 30px;
}
.contact-us > div:nth-child(1){
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-us > div:nth-child(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.team .name{
    text-align: center;
    height: 150px;
}
.name p{
    color: yellow;
    margin-bottom: 0;
}
.name h3{
    color: yellow;
}
@media screen and (max-width:700px) {
    .contact-us{
        flex-direction: column;
    }
    .contact-us > div:nth-child(1){
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
    
    .contact-us > div:nth-child(2){
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .team .name{
        height: 80px;
    }
}
@media screen and (max-width:900px) {
    .follow-us>h4>a>img {
        width: 40px;
    }


    .follow-us h1,
    .issues h1,
    .sponsorship h1 {
        font-size: 23px;
    }
    .issues > div > a{
        font-size: 15px;
    }
    .sponsorship > div > a{
        font-size: 15px;
    }
    .name h3{
        color: yellow;
        font-size: 17px;
    }
    .name p{
        font-size: 10px;
    }
}

a {
    text-decoration: none;
}

.issues a,
.sponsorship a {
    text-decoration: none;
    color: white;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}


.tilted-glass-1 {
    position: absolute;
    top: -10px;
    left: 520px;
    height: 800px;
    width: 200px;
    background: rgba(240, 235, 171, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: rotate(25deg);
    z-index: 19;
}

.tilted-glass-2 {
    position: absolute;
    top: -10px;
    height: 900px;
    width: 200px;
    background: rgba(240, 235, 171, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: rotate(-25deg);
    z-index: 19;

}
.heading{
    font-size: 40px !important;
    font-weight: bold;
}


.register-now{
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    color: black;
    background: url(./images/register.png) center center / contain no-repeat;
    transform: scaleY(1.3);
    height: 51px;
    text-align: center;
    width: 181px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
@media screen and (max-width:700px) {
    .register-now{
        width: 130px;
    font-size: 18px;
    height: 48px;
    transform: translateX(-13px) scaleY(1.2);
    }
    
}
.register-now:hover{
    box-shadow: 2px rgba(0, 0, 0, 0.84);
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
.button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #e8e7de;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    
  }
  #button-2 {
    overflow: hidden;
    cursor: pointer;
  }
  #button-2 a {
    transition: all .35s ease-Out;
    color: white;
    z-index: 30;
  }
  #slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #f4f403;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button-2:hover #slide {
    left: 0;
  }
  .sponsor{
    min-height: 60vh;
    padding: 10px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor h1{
      font-weight: bold;
      font-size: 40px;
      color: white;
  }
  .sponsor img{
    height: 360px;
    border-radius: 20px;
    margin: 10px;
  }
@media screen and (max-width:700px) {
    .sponsor img{
        max-width: 90%;
        height: 210px;
    }
    .sponsor{
        justify-content: space-around;
    }
    .sponsor h1{
        font-weight: light;
        font-size: 36px;
        color: white;
    }
}