@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.animation-YEC{
    /* background: url(images/YEC.png); */
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.nav {
    position: fixed;
    top: 0;
    background-color: transparent;
    
}

.nav-item {
    margin: auto 3vw;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.navbar-brand div {
    font-size: 10px;
}

.navbar-brand img {
    transform: scale(1.3);
    margin: 10px;
}

.nav-item a {
    color: black;
}



.container-1 {
    background-color: #ffe32b;
    height: 100vh;
    background-image: url(images/YEC.png);
    background-position: left;
    background-position-x: 0px;
    background-attachment: fixed;
    background-size: cover;
    animation: infinite_scroll 70s linear infinite;
}
@keyframes infinite_scroll{
    from{
        background-position-x: 0vw;
    }
    to{
        background-position-x: -2002vh;
    }
}
.container-2 {
    /* position: absolute; */
    color: white;
    height: 100vh;
    width: 100%;
    /* bottom: 0; */
    font-size: 1000px;
    font-weight: bold;
    z-index: 3;
    border: 2px solid tomato;
    display: flex;
    justify-self: center;
    background-color: black;
}

.YEC {
    margin: auto 0;
    margin-left: 10vh;
    height: 90%;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    /* or 129% */
    color: #000000;

}

@media screen and (max-width:900px) {
    .YEC {
        font-size: 29px;
        margin-left: 5px;
        line-height: 30px;
    }
}

.container-3 {
    /* width: 100%; */
    background: url(images/ran-berkovich-kSLNVacFehs-unsplash\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding: 10vw;
    position: relative;
}
.symbols{
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background:url(./images/symbols.png);
    background-repeat: no-repeat;
    background-size: 80vw;
}
.symbols2{
    position: absolute;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background:url(./images/questionMark.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.about {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about>div>h1 {
    font-size: 40px;
    border-bottom: 4px solid yellow;
}
@media screen and (max-width:500px) {
    .about{
        width: 100%;
    }
    .about>div>h1{
        font-size: 26px;
    }
    .about>div>p{
        font-size: 17px;
        padding: 15px 0;
        text-align: justify;
    }
}

.about>div>p {
    font-size: 20px;
}

.timeline-1 {
    background: url(images/timeline\ \(1\).jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    min-height: 300vh;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: inset;
}
.timeline-1 h1{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
.timeline-1 img{
    padding: 0px 15vw;
    padding-top: 0px;
    
}

@media screen and (max-width:900px) {
    .timeline-1 img{
        padding: 0 10px;
    }
}
.incentives{
    height: 100%;
}
.incentives h1 {
    text-align: center;
    font-weight: 700px;
    /* font-size: 64px; */
    color: black;
}

.incentives h1:nth-child(1) {
    font-size: 64px;
}

.incentives h1:nth-child(2) {
    font-size: 30px;
}

.incentives h1:nth-child(3) {
    font-size: 30px;
}

.incentives-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: start;
    width: 100%;
    height: 100%;
    /* margin: 0 10vw; */
    padding: 0 100px;
    font-family: 'Inknut Antiqua', serif;
}
.incentives-box {
    width: 279px;
    height: 237px;
    background: #F1F3F2;
    border-radius: 13px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:430px){
    .incentives-boxes{
        padding: 0 10px;
    }
    .incentives-box{
        margin: 20px;
    }
    .incentives h1:nth-child(1) {
        font-size: 40px;
    }
    
    .incentives h1:nth-child(2) {
        font-size: 25px;
    }
}


.incentives-box img{
    width: 92px;
    /* height: 92px; */
    margin: 10px;
    padding: 10px;
    /* aspect-ratio: 1/1; */
}
.incentives-box div{
    color: black;
    padding: 15px;
    text-align: center;
}
.termsNConditions{
    color: white;
    /* min-height: 100vh; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px -7px 17px 8px black;
}
.termsNConditions h1{
    text-align: center;
    font-size: 64px;
}

.termsNConditions ul{
    padding: 10px 20vw;
    font-size: 30px;
    line-height: 38px;
}
@media screen and (max-width:500px) {
    .termsNConditions h1{
        font-size: 26px;
    }
    .termsNConditions ul{
        font-size: 17px;
        padding: 10px 8vw;
        line-height: 27px;
        text-align: justify;
    }
}
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 2rem;
    box-shadow: -4px 3px 0 #ffe32b, -4px -3px 0 #ffe32b, 2px 0px 0 3px #ffe32b;
  }
  
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: left;
  }
  
  .accordion-item-header::after {
    content: "\002B";
    font-size: 3rem;
    position: absolute;
    right: 1rem;
  }
  
  .accordion-item-header.active::after {
    content: "\2212";
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
.judging{
    background-color: black;
    color: white;
    min-height: 100vh
}
.judging h1{
    text-align: center;
    font-size: 64px;
}
.judging span{
    font-size: 30px;
}
.rules{
    background-color: black;
}
.rules h1{
    font-size: 64px;
    text-align: center;
    color: white;
}
.rules ul{
    padding: 10px 20vw;
    font-size: 30px;
    color: white;
    margin: 0;
}
@media screen and (max-width:500px) {
    .rules h1{
        font-size: 26px;
    }
    .rules ul{
        padding: 10px 10vw;
        font-size: 17px;
        text-align: justify;
    }
    .judging h1{
        font-size: 26px;
    }
}
.contact-us{
    background-image: url(./images/contactUs.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    min-height: 75vh;
    background-color: black;
    background-position: center;
    color: white;
    padding: 20px;
    box-shadow: inset 0px 17px 9px 1px black, inset 0px 0px 9px black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
div.contact-us > div:nth-child(1){
    width: 60%;
    height: 65vh;
    /* border: 2px solid white; */
}
div.contact-us >  div:nth-child(2){
    width: 40%;
    height: 65vh;
    /* border: 2px solid purple; */
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width:1000px){
    .contact-us{
        flex-direction: column;
    }
    div.contact-us > div:nth-child(1){
        width: 100%;
        height: fit-content;
    }
    div.contact-us >  div:nth-child(2){
        width: 100%;
        height: fit-content;
    }
    
}
.contact-us-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-us-boxes div{
    height: 200px;
    width: 400px;
    /* border: 2px solid red; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.contact-us-boxes div> div{
    display: flex;
    flex-direction: column;
}
.contact-us-boxes > div > img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.contact-us-boxes a{
    color: white;
    text-decoration: underline;
}
.follow-us a{
    color: white;
}
@media screen and (max-width:900px) {
    .follow-us > h4 > a > img{
        width: 40px;
    }
    .follow-us{
        font-size: 10px;
    }
    .follow-us h1,.issues h1,.sponsorship h1{
        font-size: 20px;
    }
}
a{
    text-decoration: none;
}
.issues a, .sponsorship a{
    text-decoration: none;
    color: white;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }


